//Fonts
$font1: 'Nanum Gothic',
sans-serif;

//Text
$heading1_size: 35px;
$heading2_size: 30px;
$heading3_size: 25px;
$paragraph_size: 15px;

//Text colors
$text_color_light: #e9eaef;
$text_color_dark: #2d3436;

//Background colors
$background_color_dark: #292f33;
$background_color_light: #e9eaef;
$pre_hover_overlay: rgba(0, 0, 0, 0.5);
$post_hover_overlay: rgba(0, 0, 0, 0.3);

//Margins
$nav_margin: 20px;
$outer_margin: 120px;
$inner_margin: 40px;

//Padding
$projects_padding: 120px;
$footer_padding: 20px;

//Width-Height
$nav_height: 260px;
$parallax_height: 400px;
$projects_height: 700px;
$box_height: 330px;

//Shadow
$box_shadow: 0 0 4pt 0pt gray;

//Border
$border_main: 2px solid white;
$border_sub: 1px solid white;
$border_rad: 3px;
